:root {
  --white-90: rgba(255, 255, 255, 0.9);
  --black-40: #666666;
  --black: black;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit
}

input,button,textarea,select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 27px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

.caption {
  font-size: 14px;
}

.opacity-60 {
  opacity: 0.6;
}

.semi-bold {
  font-weight: 600;
}

.review-name {
  font-weight: 500;
}

.align-self {
  align-self: center;
}

body {
  background-color: white;
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tab {
  background-color: #F7F7F7;
  border-radius: 0px 0px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  max-width: 400px;
  gap: 32px;
  width: 100%;
}

.tab.full-border {
  border-radius: 32px;
}

,title {

}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 32px;
  background-color: white;
  gap: 8px;
}

.inner-container.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 32px;
  background-color: white;
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: white;
  padding: 24px;
  gap: 20px;
}

.card.review {
  background-color: #eeeeee;
  border-radius: 24px;
  padding: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.top-left {
  display: flex;
  gap: 8px;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.pill {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 24px;
  border: 1px solid black;
}

.pill.filled {
  background-color: #e1e1e1;
  color: #727272;
  border: none;
  font-weight: 400;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  background-color: black;
  color: white;
  border-radius: 100px;
  font-weight: 500;
}

.btn.reversed {
  background-color: #DDDDDD;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.div {
  display: flex;
  gap: 4px;
}

.nav-link-container {
  display: flex;
  gap: 8px;
}

.nav-link:hover {
  color: var(--black-40);
}

.coming-soon:hover {
  color: var(--black-40);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img {
  width: 380px;
  max-width: 60%;
}

.text-40 {
  color: var(--black-40);
}

@media only screen and (min-width: 800px) {
  .text-40:hover {
    color: var(--white-90);
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: end;
}