:root {
  --white-90: rgba(255, 255, 255, 0.9);
  --black-40: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit
}

input,button,textarea,select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  
}

.opacity-40 {
  color: var(--black-40);
}

.opacity-60 {
  opacity: 0.6;
}

.no-caps {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.link {

}

.link:hover {
  opacity: 0.4;
}

.link-reversed {
  opacity: 0.4;
}

.link-reversed:hover {
  opacity: 1;
}

.instagram:hover {
  color: #C13584;
}

.twitter:hover {
  color: #1DA1F2;
}

.discord:hover {
  color: #5865F2;
}

@font-face {
  font-family: Roboto Mono;
  src: url(fonts/RobotoMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

body {
  background-color: #fafafa;
  color: black;
  font-family: Roboto Mono;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.div {
  display: flex;
  gap: 0;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #29fd2e;
  border-radius: 100%;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 8px;
  background-color: #fafafa;
}

.first {
  border-radius: 0px 0px 8px 8px;
}

.last {
  border-radius: 8px 8px 0px 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 280px;
}

.top-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pill {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 24px;
  border: 1px solid black;
  text-transform: none;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview-container {
  display: flex;
  gap: 4px;
}

.star-container {
  display: flex;
  gap: 0;
}

.img-preview {
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  height: 52px;
  padding: 0px 32px;
  text-transform: uppercase;
  max-width: fit-content;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: end;
}