:root {
  --white-90: rgba(255, 255, 255, 0.9);
  --black-40: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit
}

input,button,textarea,select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  line-height: 100%;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

.opacity-40 {
  opacity: 0.4;;
}

.opacity-60 {
  opacity: 0.6;
}

.no-caps {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.link {

}

.link:hover {
  opacity: 0.4;
}

.link-reversed {
  opacity: 0.4;
}

.link-reversed:hover {
  opacity: 1;
}

.instagram:hover {
  color: #C13584;
}

.twitter:hover {
  color: #1DA1F2;
}

.discord:hover {
  color: #5865F2;
}

.inter {
  font-family: Inter;
}

.caption {
  font-size: 13px;
}

@font-face {
  font-family: Roboto Mono;
  src: url(fonts/RobotoMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #fafafa;
  color: black;
  font-family: Roboto Mono;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-border {

}

#header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: black;
  width: 100%;
  padding-bottom: 2px;
}

.tab {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.tab.small-padding {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 20px 4px 4px 4px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
}

.tab.blue {
  background-color: blue;
  color: white;
}

@media only screen and (min-width: 992px) {
}

.top-tab {
  background-color: #fafafa;
  width: 100%;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  height: 8px;
}

.bottom-tab {
  background-color: #fafafa;
  width: 100%;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  height: 8px;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top.with-padding {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
}

.exit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(68, 68, 68, 0.75);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.exit-btn:hover {
  background-color: rgb(90, 90, 90, 0.75);
}

.div {
  display: flex;
  gap: 0;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blink {
  width: 10px;
  height: 10px;
  background-color: #29fd2e;
  border-radius: 100%;
  animation: blink 4s linear infinite;
}

@keyframes blink {
  
  0% {opacity: 1;}
  100% {opacity: 0.2;}
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 8px;
  background-color: #fafafa;
  align-items: baseline;
}

.first {
  border-radius: 8px 8px 8px 8px;
}

.last {
  border-radius: 8px 8px 0px 0px;
}

.work-section {
  border-radius: 0;
  padding: 4px;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.work-img {
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
}

.top-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pill {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 24px;
  border: 1px solid rgb(255, 255, 255);
  text-transform: none;
}

.pill-custom {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 24px;
  border: 1px solid rgb(0, 0, 0);
  text-transform: none;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work

.preview-container {
  display: flex;
  gap: 4px;
}

.star-container {
  display: flex;
  gap: 0;
}

.img-preview {
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  height: 52px;
  padding: 0px 32px;
  text-transform: uppercase;
  max-width: fit-content;
  border-radius: 4px;
}

.btn-inversed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: black;
  height: 52px;
  padding: 0px 32px;
  text-transform: uppercase;
  max-width: fit-content;
  border-radius: 4px;
  background-color: #fafafa;
}

.btn:hover {
  background-color: blue;
}

.btn-inversed:hover {
  background-color: blue;
  color: #fafafa;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  background-color: black;
  color: #fafafa;
}

.card-custom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px; 
  gap: 20px;
  border-radius: 8px;
  background-color: #aaaaaa;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  gap: 20px;
  user-select: none;
  overflow: hidden;

  --gap: 40px;
  display: flex;
  gap: var(--gap);
}

.container ul {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  justify-content: space-between;
  gap: var(--gap);
  align-items: center;

  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-100% - var(--gap)));
  }
}

footer {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: rgb(0, 0, 0);
}